body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	min-width: 20em;
}

header {
	display: flex;
	flex-direction: row;
	padding: 0em 1em;
	background-color: #484848;
	color: white;
}

main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: peachpuff;
	padding: 1em;
	align-content: center;
	text-align: center;
}

footer {
	display: flex;
	justify-content: space-between;
	padding: .5em 1em;
}

footer a {
	text-decoration: underline;
}

ul {
	display: flex;
	list-style-type: none;
}

li {
	margin: 1em;
}

a {
	text-decoration: none;
	color: gray
}

table,
th,
td {
	border: 1px solid;
}

#buttons button {
	background: none;
	border: none;
}

img:hover {
	opacity: 50%;
	cursor: pointer;
}

#buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.skware {
	flex-basis: 100%;
}

.triangul {}

.stahr {}

.yinying {
	flex-basis: 100%;
}

.gr {
	color: #67e767;
}

.gr:hover {
	color: #add5ad;
}

.rd {
	color: #e76767;
}

.rd:hover {
	color: #d7a7a7;
}

.bl {
	color: #8296fa
}

.bl:hover {
	color: #c3cdff
}

.pk {
	color: #d50bd5;
}

.pk:hover {
	color: #f5a5f5;
}